/* Smaller than standard 1280 (devices and browsers) */
@media only screen and (max-width: 1279px) {

    #header > .pad,
    #main_nav > .pad,
    #page_body > .pad { padding: 0 ; }

}

@media only screen and (max-width: 1080px) {
    #slider .menu li span { display: none ; }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 960px) {

    #header > .pad,
    #main_nav > .pad,
    #page_body > .pad { padding: 0 ; }

    #header .box,
    #main_nav > .pad > ul.menu,
    #page_body > .pad > .box { min-width: 720px ; }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 769px) and (max-width: 960px) {



}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {

    html { -webkit-text-size-adjust: none ; text-size-adjust: none ; }

    /*
    body { overflow: hidden ; }
    */

    #header .box,
    #main_nav > .pad > ul.menu,
    #page_body > .pad > .box { min-width: 320px ; }

    #main_nav > .pad > ul.menu > li#nav-download,
    #main_nav > .pad > ul.menu > li#nav-contact { display: none ; }

    #breadcrumbs { display: none ; }

    #slider,
    #news { float: none ; width: 100% ; }
    #slider > .pad { height: 300px ; margin: 0 ; }
    #slider > .pad > .box { height: 300px ; }
    #slider .slides { height: 300px ; border: none ; }
    #slider .slide { height: 300px ; }
    #news dl { display: none ; }
    #news dl:first-of-type { display: block ; }
}

/* Small Mobile Sizes (480px or less) */
@media only screen and (max-width: 480px) {

    #main_nav > .pad > ul.menu > li { display: none ; }
    #main_nav > .pad > ul.menu > li#nav-what,
    #main_nav > .pad > ul.menu > li#nav-docs,
    #main_nav > .pad > ul.menu > li#nav-support { display: block ; }

    #main_nav > .pad > ul.menu > li#nav-what > a,
    #main_nav > .pad > ul.menu > li#nav-docs > a,
    #main_nav > .pad > ul.menu > li#nav-support > a { padding: 0 10px ; }

    #news h2 { display: none ; }
    #news > .pad { margin: 0 ; }
    #news .box { /* height: 100px ; */ padding: 10px ; }
    #news .box_pad { height: 110px ; position: relative ; }
    #news .more { position: absolute ; bottom: 0 ; right: 0 ; }
    #slider .menu { display: block ; width: 100% ; }
    #slider .menu li { width: 100% ; }
}

@media only screen and (max-width: 320px) {

    /* #news { width: 320px ; } */

}