/* Nav search form customizations */

#main_nav > .pad > ul.menu > li.search {
    float:right;
    margin-right: 10px;
}

#topnav-search {
    margin-top: 4px;
}

.topnav-search-input {
    border: 1px solid #0d3c80;
    border-radius: 2px;
    padding: 4px 6px;
}

.topnav-search-submit {
    background-color: #203d73;
    border: 1px solid #0d3c80;
    color: #fff;
    cursor: pointer;
    padding: 5px 6px;
}
.topnav-search-submit:hover {
    background-color: #3d6399;
}

/* Imported Confluence Element customizations */

.panel {
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    margin: 1em 0;
    overflow-x: auto;
    padding: 6px 10px;
}
.panel:nth-child(1) {
    background-color: #e4efff;
    font-size: 12px;
    border-color: #c4cfdf;
}
.panelHeader {
    background: #d8d8d8 linear-gradient(#fff,#e8e8e8);
    font-weight: bold;
    padding: 6px 10px;
    margin: -6px -10px 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px dashed #a8a8a8;
}
#sidebar .panel {
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.content_right ul {
    border-bottom: 2px solid #e0e0e0;
    padding: 1em 0 1em 2em;
}
.content_right li {
    border: none;
    padding: 6px 0;
}
.content_right li ul {
    padding-top: 6px;
}
.content_right li li {
    font-weight: normal;
    padding: 6px 0;
}
.content_right li li a {
    text-decoration: none;
}
.content_thirds {
    display: inline-block;
    vertical-align: top;
    width: 29%;
}
.content_thirds+.content_thirds {
    margin-left: 5%;
}

.toc-indentation {
    padding-left: 2em;
}
.content_right li ul {
    border: none;
    padding-bottom: 0;
}

.aui-item {
    margin-bottom: 1em;
}

.content_left h2
{
    margin: 3em 0 0.33em;
}

.content_left h3,
.content_left h4,
.content_left h5,
.content_left h6 {
    margin: 1em 0 0.33em;
}
.content_right ul.sidebar-list {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.confluence-information-macro {
    border: 1px dashed #c0c0c0;
    border-radius: 6px;
    color: #484848;
    margin-bottom: 1em;
    min-height: 1em;
    padding: 10px 10px 10px 36px;
    position: relative;
}
.confluence-information-macro-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.confluence-information-macro-body {
    display: inline-block;
}
.confluence-information-macro-body p:last-of-type {
    margin-bottom: 0;
}

.confluence-information-macro-tip { background-color: #f3f9f4; border-color: #91c89c; }
.confluence-information-macro-note { background-color: #fffdf6; border-color: #ffeaae; }
.confluence-information-macro-information { background-color: #e4efff; border-color: #c4cfdf; }
.confluence-information-macro-error,
.confluence-information-macro-warning { background-color: #fff8f7; border-color: #d04437; }
.confluence-information-macro-warning .aui-icon { color: #cf4336; }

.confluence-information-macro-tip h2,
.confluence-information-macro-tip h3,
.confluence-information-macro-note h2,
.confluence-information-macro-note h3,
.confluence-information-macro-information h2,
.confluence-information-macro-information h3,
.confluence-information-macro-error h2,
.confluence-information-macro-error h3,
.confluence-information-macro-warning h2,
.confluence-information-macro-warning h3 { margin-top: 0; }

.content-by-label li div {
    display: inline-block;
}
.content-by-label .icon {
    display: none;
}
blockquote {
    background-color: #e4efff;
    border-left: 3px solid #0168db;
    padding: 1em 2em 0.1em;
    margin: 1em 0;
}
#sitemap {
    /*height: inherit;*/
}
.hidden {
    display: none;
}
.refresh-macro {
    display: none;
}


/* XNAT Table styles */
.xnat-table, .confluenceTable {
    background: #fff;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    border-collapse: collapse;
}

.xnat-table th, .confluenceTable th,
.xnat-table td, .confluenceTable td {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.xnat-table th, .confluenceTable th {
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background: #f0f0f0;
}
.xnat-table tr:first-of-type th {
    background: #d8d8d8 linear-gradient(#fff,#e8e8e8);
}

.xnat-table td, .confluenceTable td {
    vertical-align: middle;
    text-align: left;
}

.xnat-table td.checkbox {
    padding: 0;
    text-align: center;
}

.xnat-table td.checkbox label {
    display: block;
    padding: 6px 12px;
}

.xnat-table td.checkbox label:hover {
    cursor: pointer;
}

.xnat-table td.checkbox label:hover input[type="checkbox"],
.xnat-table td.checkbox input[type="checkbox"]:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(8, 80, 180, 0.5);
}

.xnat-table td.checkbox input[type="checkbox"]:active {
    box-shadow: 0 0 5px #0850b4;
}

.xnat-table th:last-of-type, .confluenceTable th:last-of-type
.xnat-table td:last-of-type, .confluenceTable td:last-of-type {
    border-right: none;
}

.xnat-table tr:last-of-type td, .confluenceTable tr:last-of-type td {
    border-bottom: none;
}

.xnat-table tr.highlight:hover,
.xnat-table.highlight tr:hover {
    background: #e5f2ff;
}

.xnat-table .top, .confluenceTable .top {
    vertical-align: top;
}

.xnat-table .middle, .confluenceTable .middle {
    vertical-align: middle;
}

.xnat-table .bottom, .confluenceTable .bottom {
    vertical-align: bottom;
}

.xnat-table .left, .confluenceTable .left {
    text-align: left !important;
}

.xnat-table .center, .confluenceTable .center {
    text-align: center !important;
}

.xnat-table .right, .confluenceTable .right {
    text-align: right !important;
}

/* override .even and .odd styles - these are not needed in .xnat-table tables */
.xnat-table .even,
.xnat-table .odd {
    background: #fff;
    border: none;
}

/* Blog Listing customizations */

.blog-post-listing {
    margin: 2em 0;
    padding: 2em 0 2em 68px;
    position: relative;
}
.blog-post-listing + .blog-post-listing {
    border-top: 1px solid #e8e8e8;
}
.logo-heading-block {
    margin-bottom: 1em;
}
.logoBlock {
    display: inline-block;
    position: absolute;
    top: 2em; left: 0;
    width: 48px;
}
.logoBlock img {
    border-radius: 50%;
    max-width: 100%;
}
span.blogHeading {
    display: inline-block;
}
a.blogHeading {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}
.page-metadata {
    color: #808080;
    font-size: .85em;
}
.news-footer {
    margin-top: 3em;
    padding: 2em 1em 1em;
    border-top: 1px solid #e8e8e8;
    background-color: #f0f0f0;
}

.blogNav {
    position:relative;
    height: 2em;
    margin-top: 2em;
}
.blogPrev { position:absolute; right:0; }

.blogNext { position: absolute; left:0; }


/* IMAGE LIGHTBOX */
.content_body .confluence-embedded-image {
    max-width: 100%
}

.overlay {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 2000px;
    position: fixed;
    top: 0; left: 0;
    z-index: 99998;
}
#image-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 99999;
}
.image-frame {
    padding: 2em 0;
    position: relative;
    top: 50%;
    left: 50%;
}
.image-frame img {
    background: #fff;
    margin-left: -25%;
    margin-top: -25%;
    padding: 10px;
}

/* Footnotes ?!? */
sup.fn-sup a {
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
}
table.Footnotes caption {
    display: none;
}
table.Footnotes th,
table.Footnotes td {
    padding: 2px 6px;
}
table.Footnotes th {
    text-align: left;
}
table.Footnotes td.FootnoteNum {
    width: 5%;
}
table.Footnotes td.Footnote {
    width: 95%;
}
a.FootnoteMarker {
    font-weight: bold;
    text-decoration: none;
}