@charset "utf-8";
/* CSS Document */

.card {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 0.25em;
    margin: 1em 0;
    padding: 0;
    position: relative;
}
.card-header {
    border-bottom: 1px solid #dedede;
    padding: 0.5em 1em;
}
.card-header h2 {
    margin: 0.25em 0;
}
.card-body {
    padding: 1em;
    white-space: pre-line;
}
.card-footer {
    background: #f7f7f7;
    border-top: 1px solid #dedede;
    font-size: 87%;
    padding: 0.5em 1em;
}
.event-date,
.event-location {
    color: #848484;
    padding-right: 1em;
}

button {
    background-color: #dedede;
    border: 1px solid #484848;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
}
button.btn-primary {
    background-color:#1560cd;
    color: #fff;
}
button.btn-primary:hover {
    background-color:#045ea4;
}

/* XNAT FORM */

.xnat-form-wrapper {
    background:#f0f0f0;
    border:1px solid #e2e2e2;
    padding:10px 20px;
    width:inherit;
}
.xnat-form-wrapper.clean {
    border: none;
    background: none;
    padding: 0 0 10px;
}
.xnat-form div {
    clear:both;
    margin:1em 0;
}
.xnat-form label {
    display:block;
    float:none;
    font-size:13px;
    padding-bottom: 3px;
    width:auto;
}
.xnat-form-wrapper .error {
    color: #cc0000;
    font-weight: bold;
}
.xnat-form input {
    border:1px solid #bbb;
    color:#333;
    font-size:15px;
    padding:5px;
    width: 90%;
}
.xnat-form textarea {
    border:1px solid #bbb;
    font-family:Arial, Tahoma, Helvetica, sans-serif;
    font-size:100%;
    padding:0.6em 0.5em 0.7em;
    width: 90%;

}
.hidden {
    display: none;
    visibility: hidden;
}
.form-group-db {
    display: none;
    visibility: hidden;
}

/* MODAL */
.modal {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 540px;
    margin-left: -270px;
    background: #fff;
    border: 1px solid #484848;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
    z-index: 999;
    overflow-y: auto;
}
.modal-header {
    /*background: #71b0e0;*/
    background: #ffc908;
    border-bottom: 1px solid #484848;
    padding: 10px 20px;
}
.modal-header h3 {
    margin: 0;
}
.modal-header .close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    line-height: 1rem;
    margin: -2px -1rem 0 0;
    padding: 4px 8px 8px;
}
.modal-header .close:hover {
    background: rgba(0,0,0,0.1);
}
.modal-body {
    padding: 10px 20px;
}
.modal-footer {
    background: #f7f7f7;
    border-top: 1px solid #dedede;
    padding: 10px 20px;
}
.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

@media only screen and (max-width: 768px) {
    .modal {
        width: 90%;
        margin-left: -45%;
    }
}


.form-group,
.form-check,
.modal .clearfix {
    margin-bottom: 1.5rem;
}
.form-group label {
    font-weight: 700;
    margin-right: 5%;
    vertical-align: top;
    /*width: 35%;*/
}
.form-group input,
.form-group textarea {
    /*width: 55%;*/
}
.form-group small {
    margin-left: 41%;
}
.form-check label {
    display: block;
    padding-left: 0;
}
.form-check input[type=text]{
    margin-top: 4px;
    width: 94%;
}
.form-check.pull-right {
    width: 59%;
}

.invalid,
.form-group.invalid {
    color: #c66;
}
.form-group.invalid input,
.form-group.invalid textarea {
    border-color: #f99;
}
.form-group.invalid label:after {
    content: "(REQUIRED)";
    padding-left: 4px;
    font-size: 75%;
}
.was-validated input:invalid,
.was-validated textarea:invalid {
    border-color: #c66;
}